body{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header, main, footer{
    display: inline-block;
    border: 1px #000 solid;
    padding: 20px 10px 10px;
}

h1, h2, h3{
    display: inline;
    font-style: 0.2rem;
}

nav a{
    display: block;
}